.form__login-link {
  margin: 14px auto 0 5px;
  /* height: 17px; */
  /* font-size: 14px; */
  /* line-height: 1.21; */
  color: #fff;
  text-decoration: none;
}

.form__login-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}
