.header {
  margin: 0;
  padding: 0;
  width: 68.75%;
  max-width: 880px;
  min-height: 74px;
  color: #fff;
  background-color: #000;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
  }
}

@media screen and (max-width: 501px) {
  .header {
    width: 100%;
    min-height: 56px;
    display: flex;
  }
}
