.profile-info {
  margin: 0 auto 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .profile-info {
    margin: 0;
    padding: 0 20px 20px 20px;
    width: calc(100% - 160px);
    display: inline;
  }
}
@media screen and (max-width: 801px) {
  .profile-info {
    width: 100%;
    flex-direction: column;
  }
}
