.profile-info {
  margin: 0 auto 0 30px;
  /* width: clamp(282px, 45vw, 336px); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .profile-info {
    margin: 0;
    padding: 0 20px 20px 20px;
    width: calc(100% - 160px);
    /* width: clamp(262px, 92vw, 465px); */
    display: inline;
  }
}
@media screen and (max-width: 801px) {
  .profile-info {
    width: 100%;
    flex-direction: column;
  }
}
