.popup__container {
  padding-bottom: 60px;
  position: relative;
  width: 430px;
  background: #ffffff;
  border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
}


@media screen and (max-width: 501px) {
  .popup__container {
    padding-bottom: 22px;
    width: 282px;

  }
}
